# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Modules
tdg-static

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release
dist
distL

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
*.iml
dist
.idea

#dev env files
config/prodConfig.js
config/devConfig.js
.DS_Store

#logs
logs

#prod files
app/views/includes/nohup.out
newrelic.js
nohup.out
